*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #e3f2fd;
}

.burger-menu{
  position: absolute;
  /* выравнивание по центру */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* размер дива */
  height: 80px;
  width: 90px;
  /* цвет, скругление углов и тень */
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  /* flex и выравнивание внутри дива */
  display: flex;
  justify-content: center;
  /* курсор */
  cursor: pointer;
  /* время анимации */
  transition: all 0.4s linear;
  overflow: hidden;
}

.burger-menu.active{
  background-color: #de0611;
}

/* основное поле бургера */
.burger-menu .menu{
  position: relative;
  height: 100%;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* линии меню привязаны к .menu через position */
.menu .line{
  position: absolute;
  height: 8px;
  width: 100%;
  border-radius: 6px;
  background-color: #2c3e50;
  /* время анимации */
  transition: all 0.4s linear;
}

/* первая линия */
.menu .line.one {
  top: 15px;
}
/* первая линия в активном состоянии */
.burger-menu.active .line.one{
  top: 45%;
  transform: rotate(50deg);
  background-color: #fff;
}

/* втрая линия */
.menu .line.two {
  left: 0;
  opacity: 1;
}
/* вторая линия в активном состоянии */
.burger-menu.active .line.two{
  left: -100%;
  opacity: 0;
  background-color: #de0611;
}

/* третья линия */
.menu .line.three {
  bottom: 15px;
}
/* третья линия в активном состоянии */
.burger-menu.active .line.three{
  bottom: 45%;
  transform: rotate(-50deg);
  background-color: #fff;
}